/* Roboto 400, 700, 500 Raleway 700
цвета #FFFFFF, #E5E5E5, #F5F4FA, #2F303A, 
текст #2196F3, #757575
фон кнопки #2196F3 */

/* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);  - тень активной карточки  */

:root {
  --opp-color: #ffffff;
  --сurrent-color: #2196f3;
  --alt-color: #757575;
  --button-fill-color: #f5f4fa;
  --inactive-partner: #afb1b8;
  --header-border-color: #ececec;
  --black-color: #212121;
}

/* CONTAINER  */

.container {
  width: 1200px;
  padding: 94px 15px;
  margin-right: auto;
  margin-left: auto;
}

li {
  list-style-type: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section:first-child {
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66),
    url("../images/background-img.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto;
}

.section:nth-child(n + 2) {
  background-color: var(--opp-color);
}

.section:nth-child(n + 3) {
  background-color: var(--button-fill-color);
}

.footer__title {
  color: var(--opp-color);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.footer__label {
  top: 0;
  left: 0;
  position: absolute;
}

/* HEADER */

.header {
  background-color: var(--opp-color);
  position: sticky;
  top: -1px;
  overflow: hidden;
  z-index: 1;
}

.bordered {
  border-bottom: 1px solid var(--header-border-color);
}

.nav,
.nav-list {
  display: flex;
}

.contacts-list__item,
.nav-list__item {
  display: flex;
  position: relative;
  align-items: baseline;

  margin-right: 50px;
  letter-spacing: 0.02em;
}

.contacts-list__icon {
  display: inline-block;
  margin-right: 10px;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: var(--alt-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;


  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--сurrent-color);
}

.logo {
  font-family: "Raleway", "Verdana", "Tahoma", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.nav__logo {
  color: #000;
  margin-right: 93px;
}

.logo--opp {
  color: var(--opp-color);
}

.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0px 0px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.nav__item:last-child,
.contacts-list__item:last-child {
  margin-right: 0px;
}

/* MAIN-PAGE   */

.main-page {
  color: var(--black-color);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.nav-list__link {
  position: relative;
  color: var(--black-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--сurrent-color);
}

.link--current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--сurrent-color);

  left: 0;
  bottom: 0;
  margin-bottom: -32px;

  border-radius: 2px;
}

.logo--current,
.link--current {
  color: var(--сurrent-color);
}

/* HERO  */

.hero {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 900;
  color: var(--opp-color);

  padding: 200px 252px;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero__link {
  color: var(--opp-color);
  background-color: var(--сurrent-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 30px auto;
}

.hero__title {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
}

/* MIDDLE-FIRST-PART  */

.section__items {
  display: flex;
  justify-content: space-between;
}

.section__item {
  flex-basis: calc(100%-4 * 270);
  margin-right: 25px;
}

.section__item:last-child {
  margin-right: 0px;
}

.item__title {
  line-height: 1.17;
  font-weight: 700;
}
.section__text {
  line-height: 1.71;
  font-weight: 400;
  color: var(--alt-color);
}

.section__icon {
  display: block;
  width: 70px;
  height: 70px;
  color: var(--inactive-partner);
}

.section__thumb {
  padding: 25px 102px;
  background-color: var(--button-fill-color);
}

/* MIDDLE-SECOND-PART  */

.section__within-gap {
  margin-top: 95px;
}

.section__title {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-basis: calc (100%-3 * 370);

  margin-right: -30px;
  margin-top: 50px;
}

.gallery__item {
  position: relative;
  margin-right: 30px;
}

.gallery__img {
  max-width: 370px;
}

.gallery__title {
  display: block;
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);

  /* opp-title */
  color: var(--opp-color);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
}

.gallery__caption {
  position: absolute;
  display: block;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BOTTOM-SECTION  */

.bottom-cardset {
  display: flex;
  justify-content: space-between;
  flex-basis: calc (100%-4 * 270);

  margin-right: -30px;
  margin-top: 50px;
}

.bottom-cardset__item {
  margin-right: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.bottom-cardset__img {
  max-width: 270px;
}

.cardset__data {
  display: block;
  padding: 30px 32px;
  background-color: var(--opp-color);
}

.cardset__data-title {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.cardset__data-text {
  color: var(--alt-color);
  font-size: 16px;
  line-height: 1.19;

  margin-top: 10px;
  text-align: center;
}

/* Social block  */

.social-block {
  margin-top: 16px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50% 50%;
  color: var(--inactive-partner);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:active {
  background-color: var(--сurrent-color);
  color: var(--opp-color);
}

.social__icon {
  display: flex;

  width: 20px;
  height: 20px;
}

/* SVG-BOTTOM_SECTION */

.partners-list {
  display: flex;
  margin-top: 50px;
}

.partners-list__item {
  margin-right: 30px;
  justify-content: space-between;
  flex-basis: calc (100%-6 * 170);
}

.partners-list__item:last-child {
  margin-right: 0px;
}

.partners-list__link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;

  color: var(--inactive-partner);

  box-shadow: 0 0 0 1px var(--inactive-partner);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-list__link:hover,
.partners-list__link:focus {
  color: var(--сurrent-color);
  box-shadow: 0 0 0 1px var(--сurrent-color);
}

/* FOOTER  */

.footer {
  --footer-colour: #2f303a;
  background-color: var(--footer-colour);
  font-weight: 400;
  color: var(--opp-color);
}
.footer-layout {
  padding: 60px 15px;
  display: flex;
}

.footer__link {
  color: var(--opp-color);
}

.footer-contacts {
  margin-top: 9px;
  
  /* font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; */
}

.footer__address {
  margin-top: 20px;
}

.footer__part {
  margin-right: 70px;
}

.footer__part h2 {
  text-align: left;
}

.social__link--opp {
  color: var(--opp-color);
  background-color: rgba(255, 255, 255, 0.1);
}

/* PORTFOLIO  */

.portfolio-page {
  color: var(--black-color);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  top: -1px;
}

.filter__link {
  color: var(--black-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__link:hover,
.filter__link:focus {
  color: var(--opp-color);
  background-color: var(--сurrent-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio-text {
  font-weight: 700;
  line-height: 1.88;
  color: var(--alt-color);
}

.filter__item {
  margin-right: 8px;
  border-radius: 4px;
  background-color: var(--button-fill-color);

  display: inline-block;
}

.filter__link {
  display: inline-block;
  padding: 7px 22px;
}

/* Сетка  */

.grid-cardset {
  display: flex;
  flex-basis: calc(100%-3 * 370);
  flex-wrap: wrap;

  margin-top: -30px;
  margin-right: -30px;
}

.grid-cardset__img {
  max-width: 370px;
}

.grid-cardset__item {
  margin-top: 30px;
  margin-right: 30px;
  background-color: var(--opp-color);
}

.grid-cardset__data {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.grid-cardset__link {
  position: relative;
  display: inline-block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid-cardset__link:hover,
.grid-cardset__link:focus {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12),
    0px 40px 40px rgba(0, 0, 0, 0.06), 10px 40px 60px rgba(0, 0, 0, 0.16);
}

/* Cards-portfolio-overlay  */
.card-thumb {
  position: relative;
  overflow: hidden;
}

.grid-cardset__link:hover > .card-thumb::before {
  transform: translateY(0);
}

.thumb-overlay {
  display: block;
  position: absolute;
  background-color: var(--сurrent-color);
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-overlay__text {
  box-sizing: border-box;

  display: block;
  position: absolute;

  width: 100%;
  color: var(--opp-color);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
}

.grid-cardset__link:hover .thumb-overlay {
  transform: translateY(0);
}

/* modal  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
    
  z-index: 1;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: none;
  transform: scale(1.2);
}

/* Сама модалка, геометрия и тд  */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--opp-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  visibility: visible;
}

.modal__form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 42px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close__icon {
  width: 11px;
  height: 11px;
}

.footer-link__icon {
  width: 24px;
  height: 24px;

  fill: var(--opp-color);
  margin-left: 10px;
}

.footer__form {
  display: flex;
  margin-left: 93px;
}

.footer__input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding-left: 16px;
  background: var(--footer-colour);
  margin-top: auto;
  margin-bottom: auto;

  color: var(--opp-color);
  opacity: 0.3;
}

/* Forms  */

.footer-link,
.modal-link {
  color: var(--opp-color);
  background-color: var(--сurrent-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: flex;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;

  justify-content: center;
  align-items: center;
}

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: 1px solid red;
}

.form-field--gap {
  margin-top: 28px;
}

.form-field--top-gap {
  margin-top: 30px;
}

.form-field:focus-within {
  fill: var(--сurrent-color);
}

/* Checkbox  */

.modal__memo {
  display: block;
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__label {
  bottom: 100%;
  left: 0;
  position: absolute;
  transform: translateY(-4px);

  color: var(--alt-color);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 3px;

  bottom: 50%;
  left: 0;

  transform: translate(50%, 50%);
}

/* input:focus, input:hover + .modal-svg {
  fill:var(--сurrent-color);
} */

.underline-link {
  text-decoration: underline;
}

.modal__input {
  height: 16px;
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-link {
  margin: 30px auto 0 auto;
}

.checkbox-submit {
  display: flex;
  margin-top: 30px;
  margin-bottom: 0;

  align-items: center;
  justify-content: center;
  color: var(--alt-color);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-submit__checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-submit__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  border: 1.78px solid var(--black-color);
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox-submit__checkbox:checked ~ .checkbox-submit__icon {
  background-color: var(--сurrent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--сurrent-color);
}
