@import "../utils/variables";
@import "../utils/placeholders";

.footer {
  background-color: $color-footerbg;
  font-weight: 400;
  color: $color-primary;

  &__link {
    color: $color-primary;
    @extend %link-btn-text;
  }

  &__title {
    color: $color-primary;
    @extend %title-font;
    text-align: left;

    @media screen and (max-width: $pre-tablet) {
      text-align: center;
    }

    @media screen and (min-width: $tablet) {
      text-align: left;
    }

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }

  .footer__address {
    @extend %light-text;
    margin-top: 20px;
  }
}

.footer__part {
  margin-right: 0px;
  // display: flex;

  @media screen and (max-width: $pre-tablet) {
    margin-top: 60px;
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0px;
    margin-right: 165px;
  }

  @media screen and (min-width: $desktop) {
    align-items: center;
  }
}

.footer__part:first-of-type {
  // margin-top: 20px;
  margin-top: 0px;

  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
    margin-top: 0px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0px;
    margin-right: 70px;
  }
}

.footer__part:last-of-type {
  // margin-top: 20px;
  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
    margin-right: 0px;
  }

  @media screen and (min-width: $desktop) {
  }
}


.footer-layout {
  padding: 60px 15px;
  // display: flex;
  // flex-direction: column;

  @media screen and (max-width: $pre-tablet) {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    padding: 60px 90px 60px 76px;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer__form {
  // display: flex;
  // margin-left: 93px;

  @media screen and (max-width: $pre-tablet) {
    display: block;
    // text-align: center;
  }

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $desktop) {
    position: relative;
    display: flex;
    margin-left: 93px;
  }
}

.social-block--footer {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer-link {
  color: $color-primary;
  background-color: $color-accent;
  @extend %link-btn-text;

  display: flex;

  padding: 10px 28px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  margin-top: auto;
  margin-bottom: auto;

  justify-content: center;
  align-items: center;

  @media screen and (max-width: $tablet) {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.footer-contacts {
  @extend %light-text;
  margin-top: 9px;
  color: $color-black;
  opacity: 0.6;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link__icon {
  width: 24px;
  height: 24px;

  fill: $color-primary;
  margin-left: 10px;
}

.footer__input {
  box-sizing: border-box;
  
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding-left: 16px;
  background: $color-footerbg;
  margin-top: auto;
  margin-bottom: auto;

  color: $color-primary;
  opacity: 0.3;
  display: flex;
  // flex-wrap: wrap;

  @media screen and (max-width: $pre-tablet) {
    max-width: 450px;
    margin-top: 20px;
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
    margin-top: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: auto;
    margin-bottom: auto;
    width: 358px;
  }
}

.footer__label {
  // top: 0;
  // left: 0;
  // position: absolute;

  @media screen and (max-width: $pre-tablet) {
    margin-top: 60px;
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 60px;
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 0px;
  }
}
