@import "../utils/variables";
@import "../utils/placeholders";

.form-field {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Studio-forms css

.modal {
  &__form {
    margin-left: auto;
    margin-right: auto;
    padding: 40px 42px;
  }

  &__title {
    @extend %modal__title;
  }

  &__input {
    height: 16px;
    padding: 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @extend %modal-font;
  }

  &__memo {
    display: block;
    resize: none;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @extend %modal-font;
  }

  &__label {
    bottom: 100%;
    left: 0;
    position: absolute;
    transform: translateY(-4px);

    color: $color-dark;
    @extend %modal-font;
  }

  &__icon {
    position: absolute;
    width: 18px;
    height: 18px;
    padding: 3px;

    bottom: 50%;
    left: 0;

    transform: translate(50%, 50%);
  }
}

.form-field--gap {
  margin-top: 28px;
}

.form-field--top-gap {
  margin-top: 30px;
}

.modal-link {
  @extend %link-btn-text;
  margin: 30px auto 0 auto;
}

.form-field:focus-within {
  fill: $color-accent;
}

// Portfolio-forms css

.footer-link__icon {
  width: 24px;
  height: 24px;

  fill: $color-primary;
  margin-left: 10px;
}

.footer__form {
  display: flex;
  margin-left: 93px;
}

.footer__input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  padding-left: 16px;
  background: $color-footerbg;
  margin-top: auto;
  margin-bottom: auto;

  color: $color-primary;
  opacity: 0.3;
}
