@import "../utils/variables";
@import "../utils/placeholders";

.logo {
  @extend %logo;
  
  @media screen and (min-width: $desktop) {
    font-size: 26px;
  }

  &--current {
    color: $color-accent;
  }
}

.footer__logo {
  color: $color-primary;
}

.nav__logo {
  $color-logo: #000000;
  color: $color-logo;

  @media screen and (min-width: $mobile) {
  }
  
  
  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }
  
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }

  

}
