/* MIDDLE-FIRST-PART  */
@import "../utils/variables";
@import "../utils/placeholders";

.section__items {
  display: flex;
  justify-content: space-between;
}

.section__text {
  margin-top: 10px;
  line-height: 1.71;
  font-weight: 400;
  color: $color-dark;

  @extend %light-text;
}

.section__item {
  flex-basis: calc(100%-4 * 270px);
  margin-right: 25px;

  &:last-child {
    margin-right: 0px;
  }
}

.section__icon {
  display: block;
  width: 70px;
  height: 70px;
  color: $color-inactive;
}

.section__thumb {
  padding: 25px 102px;
  background-color: $color-light;
}

/* MIDDLE-SECOND-PART  */

.section__within-gap {
  margin-top: 95px;
}

.item__title {
  margin-top: 30px;

  @extend %title-font;
  text-align: left;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-basis: calc (100%-3 * 370);

  margin-right: -30px;
  margin-top: 50px;

  &__item {
    position: relative;
    margin-right: 30px;
  }

  &__img {
    max-width: 370px;
  }

  &__title {
    display: block;
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    min-height: 70px;
    background: rgba(47, 48, 58, 0.8);

    /* opp-title */
    color: $color-primary;
    @extend %title-font;
    text-align: center;
  }

  &__caption {
    position: absolute;
    display: block;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $color-primary;
    @extend %title-font;
    text-align: center;
  }
}
