@import "../utils/variables";
@import "../utils/placeholders";

.hero {
  color: $color-primary;
  
  // max-width: 576px;
  margin-left: 0px auto;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 118px 0px;
  margin-left: auto;
  margin-right: auto;
  // min-width: ;

  @media screen and (min-width: $tablet) {
    padding: 118px 204px;
  }
  
  @media screen and (min-width: $desktop) {
    padding: 200px 252px;
  }

  &__link {
    color: $color-primary;
    background-color: $color-accent;
    @extend %hero__link;

    display: block;
    padding: 10px 32px;
    border-radius: 4px;
    margin: 30px auto;
  }

  &__title {
    display: block;
    @extend %hero__title;
    @media screen and (max-width:$pre-tablet) {
      font-size: 26px;
    }
  }
}
