// :root {
//     --opp-color: #ffffff; //$color-primary
//     --black-color: #212121; //$color-black
//     --сurrent-color: #2196f3; //$color-accent
//     --alt-color: #757575; //$color-dark
//     --button-fill-color: #f5f4fa; //$color-light
//     --inactive-partner: #afb1b8; //$color-inactive
//     --header-border-color: #ececec; //$color-border-header
//     --footer-colour: #2f303a; //$color-footerbg: 
//   }
// @import './utils/variables';

  $color-primary: #ffffff;       //     --opp-color
  $color-black: #212121;         //     --black-color
  $color-accent: #2196f3;        //     --сurrent-color
  $color-dark: #757575;          //     --alt-color
  $color-light: #f5f4fa;         //     --button-fill-color
  $color-inactive: #afb1b8;      //     --inactive-partner
  $color-border-header: #ececec; //     --header-border-color
  $color-footerbg: #2f303a;      //     --footer-colour